{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://app.closerx.ai"
    }
    ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v2/dashboard_top_cards_data_v2": {
      "get": {
        "description": "Returns the call success rate,average response time,ai accurary rate and total balance",
        "parameters": [
          {
            "name": "schema-name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required":true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardData"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard_campaign_list": {
      "get": {
        "description": "Returns the campaign distribution",
        "parameters": [
          {
            "name": "schema-name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required":true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardCampaignList"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/dashboard_data_v2/": {
      "get": {
        "description": "Returns the call success rate,average response time,ai accurary rate and total balance",
        "parameters": [
          {
            "name": "schema-name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required":true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardMonthlyData"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/campaign-results": {
      "get": {
        "description": "Returns the campaign distribution",
        "parameters": [
          {
            "name": "schema-name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required":true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardCampaignResult"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/quick-campaign-results": {
      "get": {
        "description": "Returns the campaign distribution",
        "parameters": [
          {
            "name": "schema-name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required":true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardQuickCampaignResult"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DashboardData": {
        "type": "object",
        "required": [
          "total_outbound_calls",
          "success_rate",
          "call_duration",
          "success_rate_breakdown",
          "ai_accuracy_rate"
        ],
        "properties": {
          "total_outbound_calls": {
            "type": "integer",
            "description": "Total number of outbound calls"
          },
          "success_rate": {
            "type": "number",
            "format": "float",
            "description": "Overall success rate percentage"
          },
          "call_duration": {
            "type": "object",
            "required": [
              "overall",
              "daily",
              "weekly",
              "monthly",
              "rate_of_change_call_duration"
            ],
            "properties": {
              "overall": {
                "type": "object",
                "required": ["average", "peak", "low"],
                "properties": {
                  "average": {
                    "type": "number",
                    "format": "float",
                    "description": "Average call duration overall"
                  },
                  "peak": {
                    "type": "integer",
                    "description": "Maximum call duration overall"
                  },
                  "low": {
                    "type": "integer",
                    "description": "Minimum call duration overall"
                  }
                }
              },
              "daily": {
                "type": "object",
                "required": ["average", "peak", "low"],
                "properties": {
                  "average": {
                    "type": "number",
                    "format": "float",
                    "description": "Average call duration for the day"
                  },
                  "peak": {
                    "type": "integer",
                    "description": "Maximum call duration for the day"
                  },
                  "low": {
                    "type": "integer",
                    "description": "Minimum call duration for the day"
                  }
                }
              },
              "weekly": {
                "type": "object",
                "required": ["average", "peak", "low"],
                "properties": {
                  "average": {
                    "type": "number",
                    "format": "float",
                    "description": "Average call duration for the week"
                  },
                  "peak": {
                    "type": "integer",
                    "description": "Maximum call duration for the week"
                  },
                  "low": {
                    "type": "integer",
                    "description": "Minimum call duration for the week"
                  }
                }
              },
              "monthly": {
                "type": "object",
                "required": ["average", "peak", "low"],
                "properties": {
                  "average": {
                    "type": "number",
                    "format": "float",
                    "description": "Average call duration for the month"
                  },
                  "peak": {
                    "type": "integer",
                    "description": "Maximum call duration for the month"
                  },
                  "low": {
                    "type": "integer",
                    "description": "Minimum call duration for the month"
                  }
                }
              },
              "rate_of_change_call_duration": {
                "type": "number",
                "format": "float",
                "description": "Rate of change in call duration"
              }
            }
          },
          "success_rate_breakdown": {
            "type": "object",
            "required": [
              "daily",
              "weekly",
              "monthly",
              "rate_of_change_success_rate"
            ],
            "properties": {
              "daily": {
                "type": "number",
                "format": "float",
                "description": "Daily success rate percentage"
              },
              "weekly": {
                "type": "number",
                "format": "float",
                "description": "Weekly success rate percentage"
              },
              "monthly": {
                "type": "number",
                "format": "float",
                "description": "Monthly success rate percentage"
              },
              "rate_of_change_success_rate": {
                "type": "number",
                "format": "float",
                "description": "Rate of change in success rate"
              }
            }
          },
          "ai_accuracy_rate": {
            "type": "object",
            "required": [
              "ai_accuracy",
              "total_sentiment",
              "transcription_rate",
              "rate_of_change_ai_accuracy_rate"
            ],
            "properties": {
              "ai_accuracy": {
                "type": "number",
                "format": "float",
                "description": "AI accuracy percentage"
              },
              "total_sentiment": {
                "type": "number",
                "format": "float",
                "description": "Total sentiment score"
              },
              "transcription_rate": {
                "type": "number",
                "format": "float",
                "description": "Transcription accuracy rate"
              },
              "rate_of_change_ai_accuracy_rate": {
                "type": "number",
                "format": "float",
                "description": "Rate of change in AI accuracy rate"
              }
            }
          }
        }
      },
      "DashboardCampaignList": {
  "type": "object",
  "required": ["response", "data"],
  "properties": {
    "response": {
      "type": "string",
      "description": "Status of the response",
      "enum": ["success"]
    },
    "data": {
      "type": "object",
      "required": ["inbound_campaigns", "outbound_campaigns", "quick_campaigns"],
      "properties": {
        "inbound_campaigns": {
          "type": "integer",
          "description": "Number of inbound campaigns"
        },
        "outbound_campaigns": {
          "type": "integer",
          "description": "Number of outbound campaigns"
        },
        "quick_campaigns": {
          "type": "integer",
          "description": "Number of quick campaigns"
        }
      }
    }
  }
      },
        "DashboardMonthlyData": {
        "type": "object",
        "required": [
          "success",
          "message",
          "total_cost",
          "total_call_duration",
          "completed_calls_percentage",
          "other_call_percentage",
          "monthly_data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates whether the data fetch was successful"
          },
          "message": {
            "type": "string",
            "description": "Message describing the result of the request"
          },
          "total_cost": {
            "type": "number",
            "format": "float",
            "description": "Total cost of the calls"
          },
          "total_call_duration": {
            "type": "integer",
            "description": "Total duration of all calls in seconds"
          },
          "completed_calls_percentage": {
            "type": "number",
            "format": "float",
            "description": "Percentage of calls that were completed"
          },
          "other_call_percentage": {
            "type": "number",
            "format": "float",
            "description": "Percentage of other (non-completed) calls"
          },
          "monthly_data": {
            "type": "array",
            "description": "Array of monthly data metrics",
            "items": {
              "type": "object",
              "required": ["name", "data"],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the metric (e.g., Total Calls)"
                },
                "data": {
                  "type": "array",
                  "description": "Array of integer values representing the metric data for each month",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}