{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.closerx.ai/api"
    }
    ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/login/":{
     "post": {
        "description": "Allows User to Log In the system",
        "security":[],
        "requestBody": {
          "description": "Login Credentials",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Login response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/request-email/":{
     "post": {
        "description": "Allows User to Log In the system",
        "security":[],
        "requestBody": {
          "description": "Login Credentials",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPassword"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Login response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForgotPasswordResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout/": {
      "post": {
        "description": "Allows User to Log Out of the system",
        "requestBody": {
          "description": "Access token for logout",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Logout response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/password-reset/{uidb64}/{token}/": {
      "get": {
        "description": "Verifies the password reset token for a user",
        "security": [],
        "parameters": [
          {
            "name": "uidb64",
            "in": "path",
            "description": "Base64 encoded user ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "path",
            "description": "Password reset token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token verification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordResetVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/password-reset-complete/": {
      "post": {
        "description": "Allows User to reset their password using a valid token",
        "security": [],
        "requestBody": {
          "description": "User ID, token, and new password for password reset",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetCompleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password reset response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordResetCompleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/token/refresh/": {
      "post": {
        "description": "Allows User to refresh their access token",
        "security": [],
        "requestBody": {
          "description": "Refresh token",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token refresh response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/dashboard_top_cards_data_v2/": {
      "get": {
        "description": "Returns the call success rate,average response time,ai accurary rate and total balance",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required":true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardData"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/dashboard_campaign_list/": {
      "get": {
        "description": "Returns the campaign distribution",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required":true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardCampaignList"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/dashboard_data_v2/": {
      "get": {
        "description": "Returns the call success rate,average response time,ai accurary rate and total balance",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required":true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardMonthlyData"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/campaign-results/": {
      "get": {
        "description": "Returns the campaign distribution",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required":true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardCampaignResult"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/quick-campaign-results/": {
      "get": {
        "description": "Returns the campaign distribution",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required":true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardQuickCampaignResult"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/update-whitelabel/": {
      "get": {
        "description": "Retrieves the whitelabel domain configuration for the tenant",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Whitelabel domain configuration response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhitelabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates the whitelabel domain configuration for the tenant",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Whitelabel configuration data to update",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/WhitelabelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Whitelabel domain update response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhitelabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/verify-whitelabel/": {
      "post": {
        "description": "Verifies the whitelabel domain configuration for the tenant",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Domain and verification step for whitelabel verification",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyWhitelabelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Whitelabel domain verification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyWhitelabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/change/agency/credit_price/": {
      "get": {
        "description": "Retrieves the credit price for the agency",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit price response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditPriceResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Updates the credit price for the agency",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Credit price to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditPriceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Credit price update response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditPriceResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/create-stripe-product/": {
      "post": {
        "description": "Creates a new Stripe product and associated price",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Product details for creating a Stripe product",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStripeProductRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Stripe product creation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateStripeProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/list-stripe-products/": {
      "get": {
        "description": "Retrieves a list of Stripe products and their associated prices",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stripe products list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStripeProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/create-subscription-link/": {
      "post": {
        "description": "Creates a Stripe payment link for a subscription",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Price ID for creating the subscription payment link",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Subscription payment link creation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubscriptionLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/delete-stripe-products/{product_id}/": {
      "delete": {
        "description": "Hides or deactivates a Stripe product",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "description": "Unique identifier for the Stripe product to be hidden",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stripe product hide response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteStripeProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/your-credit-plans/": {
      "get": {
        "description": "Retrieves a list of available credit plans for the tenant",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit plans list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditPlansResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new credit plan for the tenant",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details for creating a new credit plan",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCreditPlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Credit plan creation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCreditPlanResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/your-credit-plans/{id}/": {
      "delete": {
        "description": "Deletes a specific credit plan by its ID",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the credit plan to be deleted",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Credit plan deleted successfully, no content returned"
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/purchased-themes/": {
      "get": {
        "description": "Retrieves a list of purchased themes for the tenant",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchased themes list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchasedThemesResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/create-checkout-session-theme/": {
      "post": {
        "description": "Creates a Stripe checkout session for purchasing a theme",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout session creation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCheckoutSessionThemeResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/aicallagent-list/": {
      "get": {
        "description": "Retrieves a paginated list of AI call agents with optional search and sorting",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter agents",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by (prefix with '-' for descending order)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "-updated_at"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI call agents list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICallAgentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agent/create/": {
      "post": {
        "description": "Creates a new AI call agent with default settings",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI call agent creation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
     "/llm/update/{llm_id}/": {
      "get": {
        "description": "Retrieves the configuration of an existing LLM by its ID",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "llm_id",
            "in": "path",
            "description": "Unique identifier for the LLM to retrieve",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LLM retrieval response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLLMResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates the configuration of an existing LLM by its ID",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "llm_id",
            "in": "path",
            "description": "Unique identifier for the LLM to be updated",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "LLM configuration details to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLLMRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "LLM update response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLLMResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agent/update/{agent_id}/": {
      "patch": {
        "description": "Updates the configuration of an existing AI call agent by its ID",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "description": "Unique identifier for the AI call agent to be updated",
            "required": true,
            "schema": {
              "type": "string",
              "example": "16b980523634a6dc504898cda492e939"
            }
          }
        ],
        "requestBody": {
          "description": "Configuration details to update for the AI call agent",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "AI call agent update response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Retrieves the configuration of an existing AI call agent by its ID",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "description": "Unique identifier for the AI call agent to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "example": "16b980523634a6dc504898cda492e939"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI call agent retrieval response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an existing AI call agent by its ID",
        "parameters": [
          {
            "name": "Company-Name",
            "in": "header",
            "description": "The name of the schema to be used for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "description": "Unique identifier for the AI call agent to delete",
            "required": true,
            "schema": {
              "type": "string",
              "example": "16b980523634a6dc504898cda492e939"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI call agent deletion response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the deletion was successful",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Message describing the result of the deletion",
                      "example": "deleted success"
                    }
                  },
                  "required": ["success", "message"]
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },

    "/v2/camp-quickcamp/": {
  "get": {
    "description": "Fetches call campaign data, including status, agent details, calling numbers, and campaign performance metrics.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "description": "The name of the schema to be used for the request",
        "required": true,
        "schema": { "type": "string" }
      },
      {
        "name": "search",
        "in": "query",
        "description": "The search term used to filter results",
        "required": false,
        "schema": { "type": "string" }
      },
      {
        "name": "status",
        "in": "query",
        "description": "The status of the campaign (e.g., running, paused, completed)",
        "required": false,
        "schema": { 
          "type": "string",
          "enum": ["running", "paused", "completed"]
        }
      },
      {
        "name": "direction",
        "in": "query",
        "description": "The direction of the call (e.g., Outbound or Inbound)",
        "required": false,
        "schema": { 
          "type": "string",
          "enum": ["Outbound", "Inbound"]
        }
      },
      {
        "name": "sort_by",
        "in": "query",
        "description": "The field by which the results should be sorted (e.g., name, date)",
        "required": false,
        "schema": { "type": "string" }
      },
      {
        "name": "page",
        "in": "query",
        "description": "The page number to retrieve results from (for pagination)",
        "required": false,
        "schema": { "type": "integer" }
      }
    ],
    "responses": {
      "200": {
        "description": "Get Quick Campaign data response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CampaignData"
            }
          }
        }
      },
      "400": {
        "description": "Unexpected error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
    "/campaign/": {
    "post": {
      "summary": "Create a new call campaign",
      "description": "Creates a new call campaign, including key campaign details such as Campaign Name, Selected AI Agent, Call Direction, Selected Phone Number, Number Rotation settings, Campaign Budget (in minutes), and Scheduling options.",
      "parameters": [
        {
          "name": "Company-Name",
          "in": "header",
          "description": "The name of the schema to be used for the request",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateCampaignRequest"
            }   
          }
        }
      },
      "responses": {
        "200": {
          "description": "Campaign created successfully",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaign"
              }
            }
          }
        },
        "400": {
          "description": "Unexpected error",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Error"
              }
            }
          }
        }
      }
    }
  },
    "/quick_campaign/": {
  "post": {
    "summary": "Create a new Quick Campaign",
    "description": "Creates a new quick call campaign, including key campaign details such as Campaign Name, Selected AI Agent, Selected Phone Number, and Enable Number Rotation settings.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "description": "The name of the schema to be used for the request",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/CreateQuickCampaignRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Quick Campaign created successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateQuickCampaign"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or missing data",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
    "/v2/camp-quickcamp/update/{campaign_id}/": {
  "patch": {
    "summary": "Edit Campaign or Perform Status Actions",
    "description": "This endpoint allows editing campaign details like name, agent, budget, calling number, as well as performing actions like pause, resume, or complete the campaign.",
    "parameters": [
      {
        "name": "campaign_id",
        "in": "path",
        "required": true,
        "description": "The ID of the campaign to be updated",
        "schema": {
          "type": "string"
        }
      },
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "The name of the schema to be used for the request",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/UpdateCampaignRequest"
          },
          "examples": {
            "EditCampaign": {
  "summary": "Edit campaign details",
  "value": {
    "name": "string",                   
    "new_agent": "number",               
    "calling_number": "string",       
    "total_bugget": "number",         
    "priority": "number",             
    "status": "string"   
  }
},
            "PauseCampaign": {
              "summary": "Pause campaign",
              "value": {
                "status": "paused"
              }
            }
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Campaign updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateCampaignResponse"
            },
            "examples": {
              "EditCampaignResponse": {
                "summary": "Edit campaign response",
                "value": {
                  "success": true,
                  "message": "Campaign updated successfully",
                  "data": {
                    "campaign": {
  "id": "string",
  "name": "string",
  "direction": "string",
  "agent": "null | string",
  "new_agent": "number",
  "contact_list": "null | string",
  "knowledge_base": "null | string",
  "calling_number": "string",
  "start_date": "null | string",
  "start_time": "null | string",
  "end_time": "null | string",
  "total_bugget": "number",
  "bugget_left": "string",
  "saturday": "boolean",
  "sunday": "boolean",
  "status": "string",
  "priority": "number",
  "created_at": "string",
  "updated_at": "string"
}

                  }
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
    },
    "/v2/graph/daily-campaign-results/{campaign_id}/": {
  "get": {
    "summary": "Get daily campaign result data",
    "description": "Returns hourly data for credit deductions and campaign results for a given campaign on a specific date.",
    "parameters": [
      {
        "name": "campaign_id",
        "in": "path",
        "required": true,
        "description": "Unique ID of the campaign (e.g., campc005bf8a)",
        "schema": {
          "type": "string"
        }
      },
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "The name of the schema to be used for the request",
        "schema": {
          "type": "string"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Hourly analytics data of the campaign for a specific day",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DailyCampaignGraph"
            }
          }
        }
      },
      "400": {
        "description": "Invalid input or unexpected error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "404": {
        "description": "Campaign not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
    },
"/v2/campaign-analytics/{campaign_id}/": {
  "get": {
    "summary": "Get campaign analytics by date",
    "description": "Returns paginated campaign analytics for a specific campaign and date range.",
    "parameters": [
      {
        "name": "campaign_id",
        "in": "path",
        "required": true,
        "description": "Unique campaign ID (e.g., campc005bf8a)",
        "schema": { "type": "string" }
      },
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "The name of the schema to be used for the request",
        "schema": { "type": "string" }
      },
      {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": { "type": "integer" },
        "description": "Page number for pagination"
      },
      {
        "name": "sort_by",
        "in": "query",
        "required": false,
        "schema": { "type": "string" },
        "description": "Sort the results by a specific field"
      },
      {
        "name": "search",
        "in": "query",
        "required": false,
        "schema": { "type": "string" },
        "description": "Search term for filtering"
      },
      {
        "name": "outcome",
        "in": "query",
        "required": false,
        "schema": { "type": "string" },
        "description": "Filter by outcome of the campaign"
      },
      {
        "name": "date",
        "in": "query",
        "required": false,
        "schema": { "type": "string", "format": "date" },
        "description": "Specific date for which data is required"
      },
      {
        "name": "from_date",
        "in": "query",
        "required": false,
        "schema": { "type": "string", "format": "date" },
        "description": "Start date for range filtering"
      },
      {
        "name": "to_date",
        "in": "query",
        "required": false,
        "schema": { "type": "string", "format": "date" },
        "description": "End date for range filtering"
      }
    ],
    "responses": {
      "200": {
        "description": "Campaign analytics data response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CampaignAnalytics"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or input",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "404": {
        "description": "Campaign not found"
      }
    }
  }
},
"/v2/export/campaign/{campaign_id}/": {
  "get": {
    "summary": "Export campaign data as downloadable file",
    "description": "Exports campaign data (e.g. analytics or logs) as a downloadable ZIP or Excel file.",
    "parameters": [
      {
        "name": "campaign_id",
        "in": "path",
        "required": true,
        "description": "The unique ID of the campaign (e.g., quickcamp2062236c)",
        "schema": { "type": "string" }
      },
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "The schema name for multi-tenancy (company-wise DB separation)",
        "schema": { "type": "string" }
      },
      {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": { "type": "integer" }
      },
      {
        "name": "sort_by",
        "in": "query",
        "required": false,
        "schema": { "type": "string" }
      },
      {
        "name": "search",
        "in": "query",
        "required": false,
        "schema": { "type": "string" }
      },
      {
        "name": "outcome",
        "in": "query",
        "required": false,
        "schema": { "type": "string" }
      },
      {
        "name": "date",
        "in": "query",
        "required": false,
        "schema": { "type": "string", "format": "date" }
      },
      {
        "name": "from_date",
        "in": "query",
        "required": false,
        "schema": { "type": "string", "format": "date" }
      },
      {
        "name": "to_date",
        "in": "query",
        "required": false,
        "schema": { "type": "string", "format": "date" }
      }
    ],
    "responses": {
      "200": {
        "description": "Downloadable campaign export file (ZIP, CSV, or Excel)",
        "content": {
          "application/zip": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "application/octet-stream": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "404": {
        "description": "Campaign not found"
      }
    }
  }
},
"/v2/campaign-final-analysis/{campaign_id}/": {
  "get": {
    "summary": "Get final campaign analysis by campaign ID",
    "description": "Returns the final analysis data for a specific campaign by its campaign ID.",
    "parameters": [
      {
        "name": "campaign_id",
        "in": "path",
        "required": true,
        "description": "Unique campaign ID (e.g., quickcamp6cd8c4ce)",
        "schema": { "type": "string" }
      },
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "The name of the schema to be used for the request",
        "schema": { "type": "string" }
      }
    ],
    "responses": {
      "200": {
        "description": "Final campaign analysis data response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CampaignFinalAnalysis"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or input",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "404": {
        "description": "Campaign not found"
      }
    }
  }
},
"/scheduled-callbacks/agency/{company_name}/": {
  "get": {
    "summary": "Retrieve scheduled callbacks for the specified agency",
    "description": "Fetches the list of scheduled callbacks for the agency 'voizerfreeaccount'.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "The schema name for multi-tenancy (company-wise DB separation)",
        "schema": { "type": "string" }
      }
    ],
    "responses": {
      "200": {
        "description": "Successfully retrieved scheduled callbacks",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CallbackVoizerFreeAccount"
              }
            }
          }
        }
      },
      "400": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "404": {
        "description": "No scheduled callbacks found for the given agency"
      }
    }
  }
},
"/v2/scheduled-callbacks/agency/": {
  "get": {
    "summary": "Retrieve scheduled callbacks for all agencies",
    "description": "Fetches the list of scheduled callbacks for all agencies.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "The schema name for multi-tenancy (company-wise DB separation)",
        "schema": { "type": "string" }
      }
    ],
    "responses": {
      "200": {
        "description": "Successfully retrieved scheduled callbacks",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CallbackHistory"
              }
            }
          }
        }
      },
      "400": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "404": {
        "description": "No scheduled callbacks found for the agencies"
      }
    }
  }
},
"/v2/contact/": {
  "get": {
    "summary": "Retrieve contact list with optional search and pagination",
    "description": "Fetches a paginated list of contacts. You can filter the results using a search query.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "The schema name for multi-tenancy (company-wise DB separation)",
        "schema": { "type": "string" }
      },
      {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number for pagination",
        "schema": { "type": "integer", "example": 1 }
      },
      {
        "name": "search",
        "in": "query",
        "required": false,
        "description": "Search term to filter contacts by name, number, or other fields",
        "schema": { "type": "string", "example": "john" }
      }
    ],
    "responses": {
      "200": {
        "description": "Successfully retrieved contact list",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ContactList"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "404": {
        "description": "No contacts found"
      }
    }
  },
  "post": {
    "summary": "Create a new contact",
    "description": "Creates a new contact with personal, company, and tag information.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "The schema name for multi-tenancy",
        "schema": { "type": "string" }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/CreateContactRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Contact created successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateContactResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid input or missing fields",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
},
"/v2/tags/": {
  "get": {
    "summary": "Retrieve list of tags",
    "description": "Fetches a list of all available tags in the system. This endpoint returns all tags without requiring any query parameters.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "The schema name for multi-tenancy (company-wise DB separation)",
        "schema": { "type": "string" }
      }
    ],
    "responses": {
      "200": {
        "description": "Successfully retrieved list of tags",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or missing headers",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "404": {
        "description": "No tags found"
      }
    }
  }
},
"/v2/contact-detail/{id}/": {
  "patch": {
    "summary": "Update a contact",
    "description": "Updates complete details of a specific contact by its unique ID.",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Unique ID of the contact (e.g., 4465)",
        "schema": { "type": "integer" }
      },
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "The schema name for multi-tenancy (company-wise DB separation)",
        "schema": { "type": "string" }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/EditContactRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Successfully updated contact details",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EditContact"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or missing headers",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "404": {
        "description": "Contact not found"
      }
    }
  },

  "delete": {
    "summary": "Delete a contact",
    "description": "Deletes a contact by its unique ID.",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Unique ID of the contact (e.g., 4465)",
        "schema": { "type": "integer" }
      },
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "The schema name for multi-tenancy (company-wise DB separation)",
        "schema": { "type": "string" }
      }
    ],
    "responses": {
      "204": {
        "description": "Contact successfully deleted (no content)"
      },
      "400": {
        "description": "Invalid request or missing headers",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "404": {
        "description": "Contact not found"
      }
    }
  }
},
"/v2/contact-profile/": {
  "get": {
    "summary": "Fetch contact profile by phone number",
    "description": "Retrieves a contact's associated campaign and quick campaign results based on their contact number.",
    "parameters": [
      {
        "name": "contact_number",
        "in": "query",
        "required": true,
        "description": "Contact number in E.164 format (e.g., +919779673180)",
        "schema": {
          "type": "string"
        }
      },
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Successfully fetched contact profile results",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ContactProfileResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid contact number or missing header",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
  "/v2/contact-delete-bulk/": {
    "delete": {
      "summary": "Bulk delete contacts",
      "description": "Deletes contacts in bulk using contact IDs or tag filters.",
      "parameters": [
        {
          "name": "ids",
          "in": "query",
          "required": false,
          "description": "Comma-separated list of contact IDs",
          "schema": {
            "type": "string",
            "example": "4501,4499,4500"
          }
        },
        {
          "name": "tags",
          "in": "query",
          "required": false,
          "description": "Comma-separated list of tag IDs",
          "schema": {
            "type": "string",
            "example": "12,15"
          }
        },
        {
          "name": "Company-Name",
          "in": "header",
          "required": true,
          "description": "Schema name for multi-tenancy",
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Contacts deleted successfully",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteContactResponse"
              }
            }
          }
        },
        "400": {
          "description": "Invalid request or missing parameters",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Error" }
            }
          }
        }
      }
    }
  },
  "/v2/bulk/create/contacts/": {
  "post": {
    "summary": "Bulk create contacts",
    "description": "Creates contacts in bulk with associated tags. Accepts an array of contact objects and a list of tags.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "contact": {
                "type": "array",
                "description": "List of contacts to be created",
                "items": {
                  "type": "object",
                  "properties": {
                    "phone": {
                      "type": "string",
                      "example": "+9821985448"
                    }
                  },
                  "required": ["phone"]
                }
              },
              "tags": {
                "type": "array",
                "description": "Tags to associate with contacts",
                "items": {
                  "type": "string",
                  "example": "Test campaign"
                }
              }
            },
            "required": ["contact", "tags"]
          },
          "example": {
            "contact": [
              { "phone": "+9821985448" }
            ],
            "tags": ["Test campaign"]
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Bulk contact creation started successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BulkCreateContactResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or missing data",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/v2/importcrm/": {
  "get": {
    "summary": "Start CRM Import",
    "description": "Initiates the CRM import task and returns a task ID and status message.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "CRM import task initiated",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ImportCRMResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or missing parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/v2/salesforce/contacts/": {
  "get": {
    "summary": "Import Salesforce Contacts",
    "description": "Fetches and imports contacts from the connected Salesforce account.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Salesforce contacts imported successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SalesforceContactImportResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or missing configuration",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/v2/send-contacts-to-crms/": {
  "post": {
    "summary": "Send Contacts to CRMs",
    "description": "Triggers the export of contacts from Salesforce to another CRM (e.g., GHL).",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
  "required": true,
  "content": {
    "application/json": {
      "schema": {
        "type": "object",
        "properties": {
          "is_salesforce_to_ghl_task": {
            "type": "boolean",
            "description": "Flag to start the Salesforce to GHL export task",
            "example": true
          },
          "ghl_to_salesforce": {
            "type": "boolean",
            "description": "Flag to start the GHL to Salesforce export task",
            "example": false
          }
        },
        "required": ["is_salesforce_to_ghl_task", "is_ghl_to_salesforce"]
      },
      "example": {
        "is_salesforce_to_ghl_task": true,
        "is_ghl_to_salesforce": true
      }
    }
  }
},
    "responses": {
      "200": {
        "description": "Export task started successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SendContactsToCRMsResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or missing data",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/twilio/user/number/": {
  "post": {
    "summary": "Fetch Twilio Phone Numbers",
    "description": "Retrieves a list of phone numbers associated with the provided Twilio SID and Auth Token.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/TwilioUserNumberRequest"
          }

        }
      }
    },
    "responses": {
      "200": {
        "description": "Twilio numbers fetched successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioUserNumberResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid credentials or request body",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/twilio/new/number/": {
  "post": {
    "summary": "Search New Twilio Phone Numbers",
    "description": "Retrieves available Twilio numbers based on search parameters like country, number slice, and slice filter.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/TwilioNewNumberRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Available Twilio numbers fetched successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioNewNumberResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/twilio/buy/number/": {
  "post": {
    "summary": "Twilio Buy Number",
    "description": "Buys a Twilio number using provided credentials, phone number and optional friendly name.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/TwilioBuyNumberRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Contact number added successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioBuyNumberResponse"
            },
            "example": {
              "success": true,
              "message": "contact number added",
              "data": {}
            }
          }
        }
      },
      "400": {
        "description": "Invalid SID, token, or phone number",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/agency/twilio/register/": {
  "post": {
    "summary": "Twilio Register",
    "description": "Registers Twilio credentials (SID and Token) for the agency account.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/TwilioRegisterRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Twilio SID and token updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioRegisterResponse"
            },
            "example": {
              "success": true,
              "message": "twilio sid and twilio token updated sucessfully",
              "data": {}
            }
          }
        }
      },
      "400": {
        "description": "Invalid Twilio SID or Token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },

  "get": {
    "summary": "Get Twilio Credentials",
    "description": "Fetches the Twilio SID and token for the specified company schema.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Twilio credentials fetched successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioRegisterGetResponse"
            },
            "example": {
              "success": true,
              "message": "twilio sid and twilio token updated"

            }
          }
        }
      },
      "400": {
        "description": "Missing or invalid company schema",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/v2/twilio/post/callerids/": {
  "post": {
    "summary": "Telnyx Buy Caller ID",
    "description": "Registers a new caller ID number along with optional SIP credentials and friendly name.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/TelnyxBuyCallerIDRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Caller ID saved successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TelnyxBuyCallerIDResponse"
            },
            "example": {
              "success": true,
              "message": "Caller ID saved successfully"

            }
          }
        }
      },
      "400": {
        "description": "Invalid input or missing fields",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},

"/v2/twilio/fetch/callerids/": {
  "post": {
    "summary": "Fetch Twilio Caller IDs",
    "description": "Fetches existing verified caller IDs from Twilio along with their friendly names and SIDs.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/TwilioFetchCallerIDsRequest"
          }

        }
      }
    },
    "responses": {
      "200": {
        "description": "Caller IDs retrieved successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioFetchCallerIDsResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid credentials or request data",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/twilio/contact/": {
  "get": {
    "summary": "Get Twilio Contact Numbers",
    "description": "Retrieves a list of Twilio contact numbers with additional metadata such as nickname and status.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Twilio contact numbers retrieved successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioContactListResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or missing parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/start-verification/": {
  "post": {
    "summary": "Start Phone Number Verification",
    "description": "Initiates a verification process for a phone number using Twilio's caller ID validation.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/StartVerificationRequest"
          },
          "example": {
  "phone_number": "string",
  "friendly_name": "string",
  "sid": "string",
  "auth": "string"
}

        }
      }
    },
    "responses": {
      "200": {
        "description": "Verification initiated successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StartVerificationResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid request or Twilio credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/verification-status/": {
  "get": {
    "summary": "Get Verification Status",
    "description": "Retrieves the verification status for a specific phone number based on Twilio caller ID validation.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      },
      {
        "name": "phone_number",
        "in": "query",
        "required": true,
        "description": "The phone number to check verification status for (URL encoded)",
        "schema": {
          "type": "string",
          "example": "+919999728776"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Verification status retrieved successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VerificationStatusResponse"
            }
          }
        }
      },
      "400": {
        "description": "Missing or invalid phone number",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/twilio/contact/{id}/": {
  "delete": {
    "summary": "Delete Contact",
    "description": "Deletes a Twilio contact based on the provided contact ID.",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Unique identifier of the Twilio contact to be deleted",
        "schema": {
          "type": "integer",
          "example": 60
        }
      },
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Contact deleted successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeleteTwilioContactResponse"
            }
          }
        }
      },
      "404": {
        "description": "Contact not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "400": {
        "description": "Invalid contact ID",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/v2/register/telynx/": {
  "post": {
    "summary": "Telnyx Register",
    "description": "Registers the Telnyx API key for the current company/tenant.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/TelnyxRegisterRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Telnyx API key registered successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TelnyxRegisterResponse"
            },
            "example": {
              "success": false,
              "errors": [],
              "response": "voizerfreeaccount",
              "message": "Telnyx API key updated successfully"
            }
          }
        }
      },
      "400": {
        "description": "Invalid or missing Telnyx API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "get": {
  "summary": "Get Telnyx Registration Info",
  "description": "Fetches the Telnyx API key and visibility settings for the current company/tenant.",
  "parameters": [
    {
      "name": "Company-Name",
      "in": "header",
      "required": true,
      "description": "Schema name for multi-tenancy",
      "schema": {
        "type": "string"
      }
    }
  ],
  "responses": {
    "200": {
      "description": "Telnyx API key info retrieved successfully",
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/TelnyxRegisterGetResponse"
          }
        }
      }
    },
    "400": {
      "description": "Missing or invalid Company-Name header",
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/Error"
          }
        }
      }
    }
  }
}

},

"/v2/register/telynx/number/": {
  "post": {
    "summary": "Telnyx Register Number",
    "description": "Registers a new number with Telnyx using the given phone number, country code, and friendly name.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/TelnyxRegisterNumberRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Number registered successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TelnyxRegisterNumberResponse"
            }
          }
        }
      },
      "400": {
        "description": "Failed to register number",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TelnyxRegisterNumberError"
            }
          }
        }
      }
    }
  }
},
"/v2/telnyx/numbers-combined/": {
  "get": {
    "summary": "Telnyx Purchased Number List (Combined)",
    "description": "Retrieves both purchased and available Telnyx numbers based on filters like country code and number slice options.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      },
      {
        "name": "country_code",
        "in": "query",
        "required": true,
        "description": "Country code for filtering phone numbers",
        "schema": {
          "type": "string",
          "example": "US"
        }
      },
      {
        "name": "number_slice",
        "in": "query",
        "required": false,
        "description": "Custom substring used to match numbers (e.g. area code or prefix)",
        "schema": {
          "type": "string",
          "example": "21"
        }
      },
      {
        "name": "number_slice_filter",
        "in": "query",
        "required": false,
        "description": "Filter type used for the number slice (e.g. 'first_part' or 'last_part')",
        "schema": {
          "type": "string",
          "enum": ["first_part", "last_part"],
          "example": "first_part"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Purchased and available Telnyx numbers retrieved successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TelnyxCombinedNumbersResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid query or country code",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/v2/add/contact/": {
  "post": {
    "summary": "Custom Add Contact",
    "description": "Adds a new custom contact with SIP trunk credentials and other optional fields.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/CustomAddContactRequest"
          },
          "example": {
  "phone_number": "string",
  "termination_uri": "string",
  "sip_trunk_auth_username": "string",
  "sip_trunk_auth_password": "string",
  "nickname": "string",
  "source_of_origin": "string"
}

        }
      }
    },
    "responses": {
      "200": {
        "description": "Contact created successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomAddContactResponse"
            },
            "example": {
              "success": true,
              "message": "contact created",
              "data": {
                "pk": "integer",
  "phone_number": "string",
  "termination_uri": "string",
  "sip_trunk_auth_username": "string",
  "sip_trunk_auth_password": "string",
  "nickname": "string",
  "source_of_origin": "string",
  "phone_number_sid": "string | null",
  "verification_status": "string | null",
  "in_used_by_agent": "string",
  "is_auto_buyed": "boolean"
              }
            }
          }
        }
      },
      "400": {
        "description": "Invalid contact data or schema missing",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/ghl/connect/user/": {
  "post": {
    "summary": "Lead Connect User",
    "description": "Initiates the connection process to GHL (Go High Level) using OAuth `code` and `state` values returned after user authorization.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/GHLConnectUserRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "GHL connection successful",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GHLConnectUserResponse"
            }
          }
        }
      },
      "401": {
        "description": "Unauthorized or invalid token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GHLUnauthorizedError"
            }
          }
        }
      }
    }
  }
},
"/agency/api_key/": {
  "get": {
    "summary": "Fetch GHL Agency API Key",
    "description": "Retrieves the GHL agency API key associated with the authenticated account.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Agency API key retrieved successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AgencyAPIKeyResponse"
            }
          }
        }
      },
      "400": {
        "description": "Missing or invalid request data",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/salesforce/callback/": {
  "post": {
    "summary": "Salesforce OAuth Callback",
    "description": "Handles the OAuth callback from Salesforce by consuming the returned `code` and `state`.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/SalesforceCallbackRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Salesforce connection successful",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SalesforceCallbackResponse"
            }
          }
        }
      },
      "401": {
        "description": "Unauthorized or invalid code/state",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SalesforceUnauthorizedError"
            }
          }
        }
      }
    }
  }
},
"/v2/snowie/callback/": {
  "post": {
    "summary": "Snowie OAuth Callback",
    "description": "Handles the OAuth callback from Snowie by consuming the returned `code` only.",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/SnowieCallbackRequest"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Snowie connection successful",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SnowieCallbackResponse"
            }
          }
        }
      }
    }
  }
},
"/v2/webhooks/register/": {
  "post": {
    "summary": "Register Webhook",
    "description": "Registers a new webhook with the provided URL, description, agent(s), and subscribed event(s).",
    "parameters": [
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/RegisterWebhookRequest"
          },
          "example": {
            "webhook_url": "https://webhook.site/abcdef123456",
            "description": "This is a test webhook to capture call start and end events.",
            "agent_ids": ["549"],
            "events_to_subscribe": ["call.started", "call.ended"]
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Webhook registered successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RegisterWebhookResponse"
            }
          }
        }
      },
      "400": {
        "description": "Invalid data or missing fields",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
"/v2/webhooks/{id}/": {
  "put": {
    "summary": "Webhook Edit",
    "description": "Updates an existing webhook using the provided ID with new URL, description, subscribed events, and selected agents.",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The ID of the webhook to update",
        "schema": {
          "type": "integer",
          "example": 25
        }
      },
      {
        "name": "Company-Name",
        "in": "header",
        "required": true,
        "description": "Schema name for multi-tenancy",
        "schema": {
          "type": "string"
        }
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/EditWebhookRequest"
          },
[...]
